
@font-face {
    font-family: 'SourceHanSerifCN';
    src : url('SourceHanSerifCN-Light.otf');
}
html,body{
    font-family: 'SourceHanSerifCN','Consolas', 'Courier', 'Monaco', sans-serif, monospace !important;
    font-size: 16px !important;
    color:#C0C0C0
    -webkit-text-size-adjust:none;  min-width: 200px;
    max-width: 760px;
    margin: 0 auto; padding: 0.5rem;
    line-height: 1.8rem;
    text-align: inherit;
}


h1,h2,h3,h4,h5,h6 {
    text-rendering:optimizelegibility;margin-bottom:1em; line-height: 1.8rem;color: #BD10E0;  font-weight: lighter;
}

h1 b{
    font-weight: lighter;
    text-align: left !important;
}

h2 b{
    font-weight: lighter;
    text-align: left !important;
}

h3 b{
    font-weight: lighter;
}

h4 b{
    font-weight: lighter;
}

h5 b{
    font-weight: lighter;
}

h6 b{
    font-weight: lighter;
}

h1,h2{position:relative;padding-top:0.2rem;padding-bottom:0.2rem;margin-bottom:1rem;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;}
h2{padding-top:0.8rem;padding-bottom:0.2rem;}
h1{ font-size: 1.3rem;}
h2{ font-size: 1.2rem;}
h3{ font-size: 1.1rem;}
h4{ font-size: 1.05rem;}
h5{ font-size: 1.0rem;}
h6{ font-size: 0.9rem;}


table{border-collapse:collapse;border-spacing:0;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
}
tr{  background-color: #fff;
    border-top: 1px solid #ccc;}
th,td{padding: 5px 14px;
    border: 1px solid #ddd;}

blockquote{font-style:normal;font-size:0.9em;line-height:1.5em;padding-left:1em; border-left:2px solid #BD10E0;    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem; }

a{
    color:#303E58;
    text-decoration: none;
    border-bottom: 1px solid #BD10E0;
    word-break: break-all;
}

a.aimg {
    border-bottom: none;
}

pre,code,p code,li code{font-family:  consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;}

pre{-webkit-border-radius:0.4em;-moz-border-radius:0.4em;-ms-border-radius:0.4em;-o-border-radius:0.4em;border-radius:0.4em;line-height:1.45em;font-size:0.9rem;margin-bottom:2.1em;padding:.8em 1em;color:#586e75;overflow:auto; background-color:#f6f6f6;}

p code,li code{display:inline-block;white-space:no-wrap;background:#fff;font-size:1.0rem;line-height:1.5em;color:#BD10E0;-webkit-border-radius:0.4em;-moz-border-radius:0.4em;-ms-border-radius:0.4em;-o-border-radius:0.4em;border-radius:0.4em;padding:0 .1em;margin:-1px 2px;}
p pre code,li pre code{font-size:1em !important;background:none;border:none}

img{max-width:100% !important;
    /*zoom: 0.5;*/
    -webkit-border-radius:0.3em;-moz-border-radius:0.3em;-ms-border-radius:0.3em;-o-border-radius:0.3em;border-radius:0.3em;-webkit-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;-moz-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#fff 0.2em solid}

figure {
    padding: 0px;
    margin: 0px;
}
figure table{
    table-layout: fixed;
}
table {
    width:100%;
}
td.gutter{
    /*width: 15%;*/
    border-color: transparent;
}

td.code{
    border-color: transparent;
}

pre {
    word-wrap: normal !important;
}

hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #f6f6f6;
    color: #657b83;
    -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string {
    color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
    color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
    color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function,
.hljs-name {
    color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
    color: #b58900;
}

/* Solarized Orange */
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header {
    color: #cb4b16;
}

/* Solarized Red */
.hljs-deletion,
.hljs-important {
    color: #dc322f;
}

/* Solarized Violet */
.hljs-link_label {
    color: #6c71c4;
}

.tex .hljs-formula {
    background: #eee8d5;
}

/* custome */
th, td {
    padding: 2px 7px;
}

h1, h2 {
    color: #BD10E0;
}
html, body {
    word-wrap: break-word;
}
li {
    /* TODO */
    /* padding-left: 0px;*/
}
h1{
    padding-bottom: 0.6rem;
}
p.article_time {
    font-size: 0.7em;
    color: #707070;
    margin-top: -10px;
}
span.btn_origin{
    /*right: 5%;*/
    /*position: absolute;*/
    float: right;
    color: #BD10E0;
}
div {
    max-width:100%;
}
img{
    height: auto !important;
}
pre,
.highlight {
    overflow: auto;
    margin: 20px 0;
    padding: 0;
    font-size: 14px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
}
pre,
code {
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 2px 4px;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 14px;
}
pre {
    padding: 10px;
}
pre code {
    padding: 0;
    color: #4d4d4c;
    background: none;
    text-shadow: none;
}
.highlight {
    border-radius: 1px;
}
.highlight pre {
    border: none;
    margin: 0;
    padding: 10px 0;
}
.highlight table {
    margin: 0;
    width: auto;
    border: none;
}
.highlight td {
    /* border: none;*/
    padding: 0;
}
.highlight figcaption {
    font-size: 1em;
    color: #4d4d4c;
    line-height: 1em;
    margin-bottom: 1em;
    margin: 0em;
    padding: 0.5em;
    background: #eee;
    border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption:before,
.highlight figcaption:after {
    content: " ";
    display: table;
}
.highlight figcaption:after {
    clear: both;
}
.highlight figcaption a {
    float: right;
    color: #4d4d4c;
}
.highlight figcaption a:hover {
    border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
    padding-left: 10px;
    padding-right: 10px;
    color: #869194;
    text-align: right;
    background-color: #eff2f3;
}
.highlight .code pre {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
}
.highlight .line {
    height: 20px;
}
.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gist table {
    width: auto;
}
.gist table td {
    border: none;
}
pre .deletion {
    background: #fdd;
}
pre .addition {
    background: #dfd;
}
pre .meta {
    color: #8959a8;
}
pre .comment {
    color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
    color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
    color: #718c00;
}
pre .title,
pre .css .hexcolor {
    color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #4271ae;
}
pre .keyword,
pre .javascript .function {
    color: #BD10E0;
}
