<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$iconColor</key>
	<string>#000000</string>
	<key>$main-text-color</key>
	<string>#000000</string>
	<key>$sub-text-color</key>
	<string>#909090</string>
	<key>$main-tint-color</key>
	<string>#BD10E0</string>
	<key>$main-separator-color</key>
	<string>#f9f9f9</string>
	<key>$main-bg-color</key>
	<string>#ffffff</string>
	<key>$bar-tint-color</key>
	<string>#f9f9f9</string>
	<key>$title-font</key>
	<string>SourceHanSerifCN-Regular</string>
	<key>$main-font-size</key>
	<string>17</string>
	<key>$sub-font-size</key>
	<string>16</string>
	<key>$large-title-font-size</key>
	<string>34</string>
	<key>$main-font-1</key>
	<string>TsangerXuanSanM-W02</string>
	<key>$main-font</key>
	<string>SourceHanSerifCN-Regular</string>
</dict>
</plist>
